@import "tailwindcss";

@theme {
    --color-primary-50: #EBF5FF;
    --color-primary-100: #E1EFFE;
    --color-primary-200: #C3DDFD;
    --color-primary-300: #A4CAFE;
    --color-primary-400: #76A9FA;
    --color-primary-500: #3F83F8;
    --color-primary-600: #1C64F2;
    --color-primary-700: #1A56DB;
    --color-primary-800: #1E429F;
    --color-primary-900: #233876;

    --color-secondary-100: #F9FAFB;
    --color-secondary-200: #F3F4F6;
    --color-secondary-300: #E5E7EB;
    --color-secondary-400: #9CA3AF;
    --color-secondary-500: #6B7280;
    --color-secondary-600: #4B5563;
    --color-secondary-700: #374151;
    --color-secondary-800: #1F2937;
    --color-secondary-900: #111827;
}